/* @import url('https://fonts.googleapis.com/css?family=Fira+Code:600|Fira+Sans:400,700,900|Open+Sans&display=swap'); */

/*Blinking animation */
.blink {
    position: relative;
    left: -8px;
    animation: blinker 0.75s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}